Counter.adf
Counter.asm
Counter.asm~
Counter.bin
Counter.hex
Counter.lst
DigitalClock.adf
DigitalClock.adf~
DigitalClock.asm~
DigitalClock.bin
DigitalClock.bin~
DigitalClock.hex
DigitalClock.hex~
DigitalClock.lst
DigitalClock.lst~
Eieruhr.adf
Eieruhr.adf~
Eieruhr.asm
Eieruhr.asm~
Eieruhr.bin
Eieruhr.bin~
Eieruhr.hex
Eieruhr.hex~
Eieruhr.lst
Eieruhr.lst~
LCD.adf
LCD.hex
LCD.lst
LedThermometer.vhc~
SystemnaheProgrammierung.mcu8051ide
SystemnaheProgrammierung.mcu8051ide~
ThermoteterSystemnahe.adf
ThermoteterSystemnahe.adf~
ThermoteterSystemnahe.asm~
ThermoteterSystemnahe.bin
ThermoteterSystemnahe.bin~
ThermoteterSystemnahe.hex
ThermoteterSystemnahe.hex~
ThermoteterSystemnahe.lst
ThermoteterSystemnahe.lst~
Uebung8_1.adf
Uebung8_1.adf~
Uebung8_1.asm
Uebung8_1.asm~
Uebung8_1.bin
Uebung8_1.bin~
Uebung8_1.hex
Uebung8_1.hex~
Uebung8_1.lst
Uebung8_1.lst~
UhrLed.vhc~
VL_20201008.adf
VL_20201008.asm
VL_20201008.asm~
VL_20201008.bin
VL_20201008.hex
VL_20201008.lst
d.vhw
ds1620.adf
ds1620.asm~
ds1620.bin
ds1620.hex
ds1620.lst
randomShifter.asm
randomShifter.asm~
test.adf
test.asm
test.asm~
test.bin
test.hex
test.lst
test.lst~
